html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db;
}
main {
  border-radius: 10px;
  border-style: solid;
  border-color: white;
}
.Container {
  background-color: white;
  display: flex;
  padding-top: 0.5%;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border-style: solid;
  width: 50vw;
  height: 65vh;
}
@media only screen and (max-width: 250px), only screen and (max-height: 550px) {
  .container {
    border: none;
  }
  body {
    background-color: white;
  }
}
@media only screen and (max-width: 450px) {
  .Container {
    height: 45%;
  }
}
@media only screen and (max-width: 800px) {
  .Container {
    width: 85%;
  }
}
@media only screen and (max-width: 1200px) {
  .Container {
    width: 75%;
  }
}
.Title_header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-direction: row;
  width: 100%;
}

.quiz_slides {
  padding-top: 2vh;
  display: hidden;
  flex-direction: column;
  animation: fadeInOut 0.75s ease-in-out; /*change to 0.5 later when combining*/
}

.quiz_slides legend,
input,
span {
  margin-bottom: 2vh;
}

.quiz_slides input[type="text"],
.quiz_slides span {
  width: 47vw;
  height: 60px;
  font-size: 50px;
}

.quiz_slides span,
.quiz_slides legend {
  padding-top: 4vh;
  width: 45vw;
  height: 55px;
  font-size: 30px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100vh;
}

.btn-container button {
  margin-bottom: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  align-items: center;
  margin-bottom: 1vw;
}

.btn-container .left_button {
  margin-right: 16vw;
}

.btn-container .right_button {
  margin-left: 16vw;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.fadeinout_animation {
  animation: fadeInOut 0.4s ease-in-out; /*change to 0.5 later when combining*/
}

button,
button:disabled {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover,
button:disabled:hover {
  background-color: #2980b9;
}

.checkbox-container,
.radio-container {
  display: flex;
  flex-direction: column;
}
.checkbox-item,
.radio-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checkbox-item input,
.radio-item input {
  margin-right: 5px;
}
